.header {
    padding: 40px 0;
    text-align: center;
    background-color: rgb(255, 94, 0);
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.background {
    background-color: rgb(255, 188, 80);
}